
<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/hospital/create']" class="nav-link" routerLinkActive="router-link-active" >
          Adicionar Hospital
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/hospital']" class="nav-link" routerLinkActive="router-link-active" >
          Listar Hospital
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

